html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

iframe {
  position: relative;
  top: 24vh;
  pointer-events: none;
    width: 100vw;
    max-width: none;
    height: 100vh;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    z-index: 1;
}
iframe::after {
  background-color: rgba(0,0,0,0.5);
}

.colorPrimary {
  color: #146636;
}
